.app{
    transition: width, height , margin-top , linear 100ms;
}

.app:hover{
    width:90px;
    height:90px;
    margin-top: -30px;
}

.app {
    width:60px;
    height:60px;
    position: relative;
}

.app:hover+.app{
    
    height:calc(80px + var(--dock-offset-right,0px));
    width:calc(80px + var(--dock-offset-right,0px));
    margin-top:calc(-20px + var(--dock-offset-right,0px)*-1)
}

.app:has(+.app:hover){
   
    height:calc(80px + var(--dock-offset-left,0px));
    width:calc(80px + var(--dock-offset-left,0px));
    margin-top:calc(-20px + var(--dock-offset-left,0px)*-1)
}


@tailwind base;
@tailwind components;
@tailwind utilities;


 .hero-background{

  background:linear-gradient(to bottom,black 100px, transparent 100px, transparent 75%,
   black 75%
  ) ,linear-gradient(to right,black 24px, transparent 24px, transparent calc(100% - 24px),
  black calc(100% - 24px)
  ) 

}


 .window-mask {
  mask-image: linear-gradient(black, black),url('/window.svg');
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 200px auto;
   mask-position: center center ,center right 3rem;

  


 }



@layer utilities{ 
     .mask-legend {
        mask-image: linear-gradient(, black 45% , black 55%, transparent 100%)
     }
}
/* You can add global styles to this file, and also import other style files */


